<div class="content" role="main">
    <h1>Kennisbank</h1>
    <p>In deze kennisbank vindt u alle benodigde documenten voor het uitvoeren van een inspectie. Klik op het linkje om het bestand te downloaden.</p>

    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

    <a href="../../assets/Template1.pdf" download="Template1.pdf">Hoe voer ik een controle uit?</a>
    <a href="../../assets/Template2.pdf" download="Template2.pdf">Wat moet ik doen als ik klaar ben met mijn controle?</a>
    <a href="../../assets/Template3.pdf" download="Template3.pdf">Wat moet ik doen als ik strijdigheden heb geconstateerd?</a>
    <br/>
    <br/>
    <button mat-raised-button routerLink="/dashboard-component">Terug naar dashboard</button>
</div>