<head>
    <link rel="stylesheet" href="inspection-details.component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>

<ng-container class="content" role="main" *ngFor="let inspection of inspectionData">
    <div *ngIf="(inspection.inspectionId == providedId)">
        <h1>Inspectiedetails inspectie #{{ inspection.inspectionId }}</h1>
        <div>
            Locatie: {{ inspection.inspectionLocation }}<br/>
            Uitvoerdatum: {{ inspection.inspectionDate | date:'d-MM-YYYY' }}<br/><br/>
        </div>
        <h2>Schades:</h2>
        <div *ngFor="let damage of inspection.damages">
            Soort schade: {{ damage.damageType }}<br/>
            Locatie: {{ damage.damageLocation }}<br/>
            Nieuw of bestaand: {{ damage.damageNew }}<br/>
            Datum ontstaan: {{ damage.damageDate | date:'d-MM-YYYY' }}<br/>
            Actie vereist: {{ damage.damageActionRequired }}<br/>
            Omschrijving: {{ damage.damageDescription }}<br/>
            Foto:<br/> <img src={{damage.damagePhoto}} width="300">
            <br/><br/>
        </div>
        <h2>Achterstallig onderhoud:</h2>
        <div *ngFor="let deferrence of inspection.deferrences">
            Soort achterstallig onderhoud: {{ deferrence.deferrenceType }}<br/>
            Locatie: {{ deferrence.deferrenceLocation }}<br/>
            Actie vereist: {{ deferrence.deferrenceActionRequired }}<br/>
            Kostenindicatie: {{ deferrence.deferrenceCostIndication }}<br/>
            Foto:<br/> <img src={{deferrence.deferrencePhoto}} width="300">
            <br/><br/>
        </div>
        <h2>Technische installaties:</h2>
        <div *ngFor="let installation of inspection.installations">
            Soort installatie: {{ installation.installationType }}<br/>
            Locatie: {{ installation.installationLocation }}<br/>
            Reeds gemelde storingen: {{ installation.installationReports }}<br/>
            Testprocedure: {{ installation.installationTestingProcedure }}<br/>
            Goedgekeurd: {{ installation.installationApproved }}<br/>
            Opmerkingen: {{ installation.installationRemark }}<br/>
            Foto:<br/> <img src={{installation.installationPhoto}} width="300">
            <br/><br/>
        </div>
        <h2>Modificaties:</h2>
        <div *ngFor="let modification of inspection.modifications">
            Omschrijving modificatie: {{ modification.modificationDescription }}<br/>
            Locatie: {{ modification.modificationLocation }}<br/>
            Documentatie: {{ modification.modificationDocumentation }}<br/>
            Uitgevoerd door: {{ modification.modificationBy }}<br/>
            Vereiste actie: {{ modification.modificationActionRequired }}<br/>
            Opmerkingen: {{ modification.modificationRemark }}<br/>
            Foto:<br/> <img src={{modification.modificationPhoto}} width="300">
            <br/><br/>
        </div>
    </div>
</ng-container>
<button mat-raised-button routerLink="/dashboard-component">Terug naar overzicht</button>