<head>
  <link rel="stylesheet" href="dashboard.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>

<div class="content" role="main">
  <div class="card-container">
  <button mat-raised-button target="_blank" rel="noopener" routerLink="/scheduled-inspections-component" class="card">
    <span class="material-symbols-outlined settings-notifications-logo">calendar_month</span><br/>Gepland
  </button>
  <button mat-raised-button target="_blank" rel="noopener" routerLink="/completed-inspections-component" class="card">
    <span class="material-symbols-outlined settings-notifications-logo">check_circle</span><br/>Afgerond
  </button>
  <button mat-raised-button target="_blank" rel="noopener" routerLink="/knowledge-base-component" class="card">
    <span class="material-symbols-outlined settings-notifications-logo">grid_view</span><br/>Kennisbank
  </button>
  <button mat-raised-button target="_blank" rel="noopener" routerLink="/application-settings-component" class="card">
    <span class="material-symbols-outlined settings-notifications-logo">settings</span><br/>Instellingen
  </button>
</div>